* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/lunch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.logo {
  width: 160px;
  height: 160px;
}

.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  background-color: rgba(65, 133, 129, 0.3);
  margin: 40px;
  font-family: "Roboto";
  color: #e4e4e4;
}

.title-form {
  text-align: center;
  padding: 8% 0;
}

.Login-input {
  margin: 15px;
  width: 400px;
}

.btn-landing {
  background-color: #f9b34c;
  margin: 10px;
  width: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-landing:hover {
  background-color: #418581;
}

/*--------------------------------------------------
NAVBAR----------------------------------------------
---------------------------------------------------*/

/*Desktop View*/
.header {
  display: flex;
  background-color: #ececec;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.option a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 4px;
  color: #418581;
}

.logo-home {
  width: 80px;
  height: 80px;
}

.nav-options {
  padding-left: 25px;
  display: flex;
  width: 750px;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
}

.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

.option :link,
.option :visited {
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.option :hover {
  color: #5bafaa;
  text-decoration: none;
  padding-bottom: 2px;
}

.menu-icon {
  font-size: 45px;
  margin-right: 10px;
  color: #418581;
}

.option-noti :hover {
  color: #5bafaa;
  font-size: 24px;
}

.notif {
  font-size: 24px;
  color: #418581;
}

@media (max-width: 800px) {
  /*Mobile View */
  .header {
    padding: 0px 10px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 220px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }
  .nav-options.active {
    background-color: #ececec;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option,
  .option-noti {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu {
    display: block;
  }
}
