* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./lunch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.logo {
  width: 160px;
  height: 160px;
}

.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  background-color: rgba(110, 113, 139, 0.5);
  margin: 40px;
}

.Login-input {
  margin: 15px;
  width: 400px;
}
