* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./lunch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.logo {
  width: 160px;
  height: 160px;
}

.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  background-color: rgba(65, 133, 129, 0.3);
  margin: 40px;
  font-family: "Roboto";
  color: #e4e4e4;
}

.title-form {
  text-align: center;
  padding: 12px 0;
}

.Login-input {
  margin: 15px;
  width: 400px;
}

.btn-landing {
  background-color: #f9b34c;
  margin: 10px;
  width: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-landing:hover {
  background-color: #418581;
}
