* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/lunch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.logo {
  width: 160px;
  height: 160px;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  background-color: rgba(65, 133, 129, 0.3);
  margin: 40px;
  font-family: "Roboto";
  color: #e4e4e4;
}

.title-form {
  text-align: center;
  padding: 8% 0;
  font-size: 200%;
  letter-spacing: 3px;
}

.Login-input {
  margin: 15px;
  width: 400px;
}

.btn-landing {
  background-color: #f9b34c;
  margin: 10px;
  width: 250px;
  border: 1px solid #f9b34c;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-landing:hover {
  background-color: #f7c57b;
  border: 1px solid #f7c57b;
}

/*--------------------------------------------------
NAVBAR----------------------------------------------
---------------------------------------------------*/

/*Desktop View*/
.nav-header {
  display: flex;
  background-color: #ececec;
  box-shadow: 0 0 5px #f9b34c;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.option a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 4px;
  color: #418581;
}

.logo-home {
  width: 80px;
  height: 80px;
}

.nav-options {
  padding-left: 25px;
  display: flex;
  width: 750px;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
}

.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

.option :link,
.option :visited {
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.option :hover {
  color: #5bafaa;
  text-decoration: none;
  padding-bottom: 2px;
}

.menu-icon {
  font-size: 45px;
  margin-right: 10px;
  color: #418581;
}

.option-noti :hover {
  color: #5bafaa;
  font-size: 24px;
}

.notif {
  font-size: 24px;
  color: #418581;
}

@media (max-width: 800px) {
  /*Mobile View */
  .nav-header {
    padding: 0px 10px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 220px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }
  .nav-options.active {
    background-color: #ececec;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option,
  .option-noti {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu {
    display: block;
  }
}

/*--------------------------------------------------
HOMEPAGE & CARD----------------------------------------------
---------------------------------------------------*/

.home-head {
  height: 100vh;
  margin-top: 25px;
}

.card-layout {
  border-width: 2px;
  border-color: #418581;
  font-family: "Roboto";
  background-color: #ececec;
  margin: 45px 20px;
}

.layout-headercard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-card:link,
.link-card:visited {
  text-decoration: none;
  color: #418581;
  font-weight: 600;
}

.icon-card {
  color: #f9b34c;
  padding-right: 8px;
  font-size: 25px;
}
.icon-card-empty {
  color: #c7d3dc;
  padding-right: 8px;
  font-size: 25px;
}

.icon-card-big {
  color: #f9b34c;
  padding-right: 8px;
  font-size: 200%;
}

.text-distance {
  font-size: 12px;
  font-weight: bold;
  color: #c7d3dc;
  margin-bottom: 0px;
}

.layout-imagelocalisation {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.layout-localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.layout-job {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #418581;
  font-size: 16px;
  color: #e4e4e4;
}

/*--------------------------------------------------
PROFIL----------------------------------------------
---------------------------------------------------*/

.layout-profil {
  height: 100vh;
  font-family: "Roboto";
  margin-top: 2%;
}

.card-image {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #abd6d3;
  display: flex;
  justify-content: space-around;
  background-color: #ececec;
  margin: 2% 22%;
}

.card-profil {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #abd6d3;
  display: flex;
  justify-content: space-around;
  background-color: #ececec;
  margin: 2% 0;
}

.style-image {
  padding: 25px 45px 0px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-maindata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.design-maindata {
  display: flex;
  align-items: center;
}

.icon-profil {
  color: #f9b34c;
  font-size: 32px;
  padding-right: 10px;
}

.design-maindata h3 {
  margin-bottom: 0;
  font-weight: 600;
}

h5 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 98%;
}

.title-about {
  font-weight: bold;
  font-size: 95%;
  margin-bottom: 0;
}
.input-checkbox {
  border-radius: 5px;
  border-color: #abd6d3;
}

.layout-about {
  height: 65%;
  width: 400px;
  border: 1px solid #abd6d3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff;
  padding: 6px;
}

.icon-about {
  color: #f9b34c;
  font-size: 30px;
  padding-right: 10px;
}

.btn-next {
  background-color: #418581;
  margin: 10px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid #418581;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-next:hover {
  background-color: #5bafaa;
  border: 1px solid #5bafaa;
}

/*--------------------------------------------------
EDIT PROFIL----------------------------------------------
---------------------------------------------------*/

.btn-upload {
  margin: 10px;
  width: 90px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.layout-language-activity {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #abd6d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  margin: 2% 0;
}

.language-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
}

/*--------------------------------------------------
MY PROFIL----------------------------------------------
---------------------------------------------------*/

.layout-myprofil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-setting {
  color: #418581;
  font-size: 25px;
  padding-right: 10px;
}

.setting {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.setting a {
  text-decoration: none;
  color: #418581;
}

.setting :link,
.setting :visited {
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.setting :hover {
  color: #5bafaa;
  text-decoration: none;
}
